In [1]:
# Libraries imported

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/airline-passenger-satisfaction/train.csv
/kaggle/input/airline-passenger-satisfaction/test.csv

In [2]:
#csv file
airline_data = pd.read_csv('/kaggle/input/airline-passenger-satisfaction/train.csv')

In [3]:
#info method on airline data
airline_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         103904 non-null  int64
 1   id                                 103904 non-null  int64
 2   Gender                             103904 non-null  object
 3   Customer Type                      103904 non-null  object
 4   Age                                103904 non-null  int64
 5   Type of Travel                     103904 non-null  object
 6   Class                              103904 non-null  object
 7   Flight Distance                    103904 non-null  int64
 8   Inflight wifi service              103904 non-null  int64
 9   Departure/Arrival time convenient  103904 non-null  int64
 10  Ease of Online booking             103904 non-null  int64
 11  Gate location                      103904 non-null  int64
 12  Food and drink                     103904 non-null  int64
 13  Online boarding                    103904 non-null  int64
 14  Seat comfort                       103904 non-null  int64
 15  Inflight entertainment             103904 non-null  int64
 16  On-board service                   103904 non-null  int64
 17  Leg room service                   103904 non-null  int64
 18  Baggage handling                   103904 non-null  int64
 19  Checkin service                    103904 non-null  int64
 20  Inflight service                   103904 non-null  int64
 21  Cleanliness                        103904 non-null  int64
 22  Departure Delay in Minutes         103904 non-null  int64
 23  Arrival Delay in Minutes           103594 non-null  float64
 24  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.8+ MB

In [4]:
#head method on airline data
airline_data.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [5]:
#Check missing data
missing = pd.concat([airline_data.isnull().sum(), 100 * airline_data.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count', ascending = False)

                                   count         %
Arrival Delay in Minutes             310  0.298352
Unnamed: 0                             0  0.000000
Online boarding                        0  0.000000
Departure Delay in Minutes             0  0.000000
Cleanliness                            0  0.000000
Inflight service                       0  0.000000
Checkin service                        0  0.000000
Baggage handling                       0  0.000000
Leg room service                       0  0.000000
On-board service                       0  0.000000
Inflight entertainment                 0  0.000000
Seat comfort                           0  0.000000
Food and drink                         0  0.000000
id                                     0  0.000000
Gate location                          0  0.000000
Ease of Online booking                 0  0.000000
Departure/Arrival time convenient      0  0.000000
Inflight wifi service                  0  0.000000
Flight Distance                        0  0.000000
Class                                  0  0.000000
Type of Travel                         0  0.000000
Age                                    0  0.000000
Customer Type                          0  0.000000
Gender                                 0  0.000000
satisfaction                           0  0.000000

In [6]:
#Select dtypes
airline_data.select_dtypes(object)

,Gender,Customer Type,Type of Travel,Class,satisfaction
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied
2,Female,Loyal Customer,Business travel,Business,satisfied
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied
4,Male,Loyal Customer,Business travel,Business,satisfied
...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied
103900,Male,Loyal Customer,Business travel,Business,satisfied
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied

In [7]:
#Value counts method for duplicate id's
airline_data['id'].value_counts().head()

70172     1
116739    1
6259      1
17470     1
118574    1
Name: id, dtype: int64

In [8]:
#count number of times both genders have been used
airline_data['Gender'].value_counts()

Female    52727
Male      51177
Name: Gender, dtype: int64

In [9]:
#count number of times ages have been used
airline_data['Age'].value_counts()

39    2969
25    2798
40    2574
44    2482
42    2457
      ...
74      47
76      45
79      42
78      33
85      17
Name: Age, Length: 75, dtype: int64

In [10]:
#count number of times customer types have been used
airline_data['Customer Type'].value_counts()

Loyal Customer       84923
disloyal Customer    18981
Name: Customer Type, dtype: int64

In [11]:
#count number of times Travel types have been used
airline_data['Type of Travel'].value_counts()

Business travel    71655
Personal Travel    32249
Name: Type of Travel, dtype: int64

In [12]:
#count number of times class has been used
airline_data['Class'].value_counts()

Business    49665
Eco         46745
Eco Plus     7494
Name: Class, dtype: int64

In [13]:
#count number of times satisfaction has been marked
airline_data['satisfaction'].value_counts()

neutral or dissatisfied    58879
satisfied                  45025
Name: satisfaction, dtype: int64

In [14]:
#Filter the airline_data dataframe for rows where 'Class' and 'satisfaction' are different,
#group by method
(airline_data[airline_data.Class != airline_data.satisfaction]
 .groupby('Class')['satisfaction']
 .value_counts())

Class     satisfaction
Business  satisfied                  34480
          neutral or dissatisfied    15185
Eco       neutral or dissatisfied    38044
          satisfied                   8701
Eco Plus  neutral or dissatisfied     5650
          satisfied                   1844
Name: satisfaction, dtype: int64

In [15]:
#Filter the airline_data dataframe for rows where 'Gender' and 'satisfaction' are different,
#group by method
(airline_data[airline_data.Gender != airline_data.satisfaction]
 .groupby('Gender')['satisfaction']
 .value_counts())

Gender  satisfaction
Female  neutral or dissatisfied    30193
        satisfied                  22534
Male    neutral or dissatisfied    28686
        satisfied                  22491
Name: satisfaction, dtype: int64

In [16]:
airline_data[['Class', 'satisfaction']].nunique()

Class           3
satisfaction    2
dtype: int64

In [17]:
airline_data[['Gender', 'satisfaction']].nunique()

Gender          2
satisfaction    2
dtype: int64